.balancer-diet {
	margin: 0;
	position: relative;
	height: 50vh;
	font-size: 0.857em;
	display: flex;
	flex-direction: column;
}

.balancer-diet-closed {}

.balancer-diet-open {}

.balancer-diet-add {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, -50%);
	width: 3rem;
	height: 3rem;
	border: none;
	border-radius: 50%;
	background-color: #69C;
	box-shadow : 1px 1px 1px rgba(0,0,0,0.5);
}

.balancer-diet > div {
	border: none;
}

.balancer-diet-time {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	flex: 0 1 auto;
}

.balancer-diet-time time,
.balancer-diet-time label {
	flex: 0 1 auto;
	font-weight: bold;
}

.balancer-diet-closed .balancer-diet-time label {
	display: none;
}

.balancer-diet-open .balancer-diet-time time {
	display: none;
}

.balancer-diet-time label span {
	display: none;
}

.balancer-diet-time label input[type=time] {}

.balancer-diet-time label input[type=date] {}

.balancer-diet-presets {
	padding: 0 0.5rem;
	flex: 1 1 auto;
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style-type: none;
	align-content: flex-start;
}

.balancer-diet-closed .balancer-diet-presets {
	display: none;
}

.balancer-diet-presets li {
	flex: 0 1 auto;
}

.balancer-diet-presets li button {
	display: block;
	width: 4rem;
	height: 4rem;
	margin: 0.5rem;
}

.balancer-diet-description {
	display: flex;
	margin: 0 0.5rem;
	flex: 0 1 auto;
}

.balancer-diet-closed .balancer-diet-description {
	display: none;
}

.balancer-diet-description b,
.balancer-diet-description label,
.balancer-diet-description p {
	flex: 0 1 auto;
	padding: 0.5rem;
	margin: 0;
	white-space: nowrap;
	align-items: center;
}

.balancer-diet-description label {}

.balancer-diet-description label:nth-child(2) {
	flex: 1 1 auto;
}

.balancer-diet-description label span {
	display: none;
}

.balancer-diet-description label input[type=text] {
	width: 100%;
}
.balancer-diet-description label input[type=number] {
	width: 4em;
}

.balancer-diet-description p {
	margin: 0;
}

.balancer-diet-history {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	flex: 1 1 auto;
}

.balancer-diet-open .balancer-diet-history {
	display: none;
}

.balancer-diet-history table {
	display: block;
	margin: 0 0.5rem;
}

.balancer-diet-history tr {
	vertical-align: top;
}

.balancer-diet-history th,
.balancer-diet-history td {
	padding: 0.5rem;
	white-space: nowrap;
}

.balancer-diet-history th+td {
	width: 100%;
	white-space: normal;
}

.balancer-diet-history button {}
