.balancer-presets {
	flex: 1 1 auto;
	margin: 0;
	position: relative;
	font-size: 0.857em;
	display: none;
	flex-direction: column;
}

.balancer-show-presets .balancer-presets {
	display: flex;
}

.balancer-presets-meal {
	display: flex;
	margin: 0 0.5rem;
	flex: 0 1 auto;
	align-items: center;
  min-height: 6rem;
}

.balancer-presets-meal label,
.balancer-presets-meal p {
	flex: 0 1 auto;
	padding: 0.5rem;
	margin: 0;
	white-space: nowrap;
	align-items: center;
}

.balancer-presets-meal label {}

.balancer-presets-meal label:nth-child(2) {
	flex: 1 1 auto;
}

.balancer-presets-meal label span {
	display: none;
}

.balancer-presets-meal label input[type=text] {
	width: 100%;
}

.balancer-presets-meal label input[type=number] {
	width: 4em;
}

.balancer-presets-meal p {}

.balancer-presets-meal p button {}

.balancer-presets-meal p button[name=icon] {
	width: 4rem;
	height: 4rem;
}

.balancer-presets-picker {
	position: absolute;
	visibility: hidden;
}

.balancer-presets-picker li {}

.balancer-presets-picker li button {
	display: block;
	width: 4rem;
	height: 4rem;
	margin: 0.5rem;
}

.balancer-presets-scroll {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	flex: 1 1 auto;
}

.balancer-presets-meals {
	display: block;
	margin: 0 0.5rem;
}

.balancer-presets-meals tr {
	vertical-align: middle;
}

.balancer-presets-meals th,
.balancer-presets-meals td {
	padding: 0.5rem;
	white-space: nowrap;
}

.balancer-presets-meals th + td {
	width: 100%;
	white-space: normal;
}

.balancer-presets-meals th span {
	display: block;
	width: 4rem;
	height: 4rem;
	border: solid 1px red;
}

.balancer-presets-meals td button {}
