.balancer-settings {
	flex: 1 1 auto;
	margin: 0;
	padding: 1rem;
	position: relative;
	font-size: 0.857em;
	display: none;
	flex-direction: column;
}

.balancer-show-settings .balancer-settings {
	display: flex;
}

.balancer-settings label {
	display: block;
}
