.balancer-log {
	margin: 0;
	position: relative;
	height: 50vh;
	font-size: 0.857em;
	display: flex;
	flex-direction: column;
}

.balancer-log-show-history {}
.balancer-log-show-meal {}
.balancer-log-show-activity {}

.balancer-log-add-meal,
.balancer-log-add-activity {
	position: absolute;
	top: 0;
	width: 3rem;
	height: 3rem;
	border: none;
	border-radius: 50%;
	background-color: #69C;
	box-shadow : 1px 1px 1px rgba(0,0,0,0.5);
}

.balancer-log-add-meal {
	transform: translate(-3.5rem, -50%);
	left: 50%;
}

.balancer-log-add-activity {
	transform: translate(3.5rem, -50%);
	right: 50%;
}

.balancer-log > div {
	border: none;
}

.balancer-log-time {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	flex: 0 1 auto;
}

.balancer-log-time time,
.balancer-log-time label {
	flex: 0 1 auto;
	font-weight: bold;
}

.balancer-log-show-history .balancer-log-time label {
	display: none;
}
.balancer-log-show-activity .balancer-log-time time,
.balancer-log-show-meal .balancer-log-time time {
	display: none;
}

.balancer-log-time label span {
	display: none;
}

.balancer-log-time label input[type=time] {}

.balancer-log-time label input[type=date] {}

.balancer-log-presets {
	padding: 0 0.5rem;
	flex: 1 1 auto;
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style-type: none;
	align-content: flex-start;
}

.balancer-log-show-activity .balancer-log-presets,
.balancer-log-show-history .balancer-log-presets {
	display: none;
}

.balancer-log-presets li {
	flex: 0 1 auto;
}

.balancer-log-presets li button {
	display: block;
	width: 4rem;
	height: 4rem;
	margin: 0.5rem;
}

.balancer-log-activity {
	margin: 0 0.5rem;
	flex: 0 1 auto;
}

.balancer-log-show-meal .balancer-log-activity,
.balancer-log-show-history .balancer-log-activity {
	display: none;
}

.balancer-log-activity label {
	padding: 0.5rem;
	margin: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.balancer-log-activity label span {
	flex: 0 1 auto;
}

.balancer-log-activity label input[type=range] {
	width: 100%;
	flex: 1 1 auto;
}

.balancer-log-meal {
	display: flex;
	margin: 0 0.5rem;
	flex: 0 1 auto;
}

.balancer-log-show-activity .balancer-log-meal,
.balancer-log-show-history .balancer-log-meal {
	display: none;
}

.balancer-log-meal b,
.balancer-log-meal label,
.balancer-log-meal p {
	flex: 0 1 auto;
	padding: 0.5rem;
	margin: 0;
	white-space: nowrap;
	align-items: center;
}

.balancer-log-meal label {}

.balancer-log-meal label:nth-child(2) {
	flex: 1 1 auto;
}

.balancer-log-meal label span {
	display: none;
}

.balancer-log-meal label input[type=text] {
	width: 100%;
}
.balancer-log-meal label input[type=number] {
	width: 4em;
}

.balancer-log-meal p {
	margin: 0;
}

.balancer-log-history {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	flex: 1 1 auto;
}

.balancer-log-show-activity .balancer-log-history,
.balancer-log-show-meal .balancer-log-history {
	display: none;
}

.balancer-log-history table {
	display: block;
	margin: 0 0.5rem;
}

.balancer-log-history tr {
	vertical-align: top;
}

.balancer-log-history th,
.balancer-log-history td {
	padding: 0.5rem;
	white-space: nowrap;
}

.balancer-log-history th+td {
	width: 100%;
	white-space: normal;
}

.balancer-log-history button {}
