html {
	font-size: 14px;
	font-family: sans-serif;
}

body {
	margin: 0;
	overflow: hidden;
}

input, button {
	font-family: sans-serif;
	font-size: 0.857rem;
}

button {
	cursor: pointer;
}

#balancer {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
}

#balancer *,
#balancer *:after,
#balancer *:before {
	box-sizing: border-box;
}
